* {
    margin: 0;
    padding:0;
}
h1 {
    font-family: 'Kaushan Script', cursive;
    color: #575757;
    font-size:45pt;
}
a {
	font-family: 'Kaushan Script', cursive;
}
body {
    background-color: lightgray;
}
#container{
	background-color: lightgray;
	text-align: center; 
}
#footerDiv{
  position: fixed;
  left: 0;
  bottom: 2%;
  width: 98%;
  text-align: right;
}
